# Ignore all tests for archive
/.github            export-ignore
/test               export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml.dist   export-ignore
