language: php

dist: trusty
sudo: false

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: nightly
    - php: hhvm
    - php: hhvm-nightly
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: hhvm-nightly

before_script:
  - composer install --prefer-dist --no-interaction --no-progress

script:
  - vendor/bin/phpunit
