<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="ParsedownTests">
			<file>test/ParsedownTest.php</file>
		</testsuite>
		<testsuite name="CommonMark">
			<file>test/commonmark/CommonMarkTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
