

.page {
	margin: 0 auto; 
	width: 640px;
}

.header {
	background: #555;
	color: #fff;
}

.odd {
	background: #fff;	
}

.even {
	background: #eee;
}

div.fail {
	background: #f55;
}

div.pass {
	background: #595;
}

span.fail {
	color: #d55;
}

span.pass {
	color: #595;
}

/* ~ */

p {
	margin: 10px 0;
}

th {
	font-weight: normal;
	text-align: left;
}

th, td {
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
}