/*
 *
 * 
 *
 */

a {
	color: #159;
	outline: none;
	text-decoration: none;
}

a img {
	border: none;
}

abbr {
	border-bottom: 1px solid #ddd;
	cursor: help;
	padding: 2px 3px;
}

body {
	background: #ddd;
	color: #333;
	font-family: Verdana, Sans-serif;
	font-size: 14px;
	height: 100%;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

blockquote {
	background: #eee;
	margin: 0 0 10px 0;
	padding: 10px 10px 1px 10px;
}

form {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 20px 0;
}

h1 {
	line-height: 30px; 
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

img {
	outline: none;
}

input {
	font-family: Verdana, Sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}

object {
	outline: none;
}

p {
	margin-top: 0;
	margin-bottom: 10px;
}

select {
	font-family: Verdana, Sans-serif;
	font-size: 14px;
	/* Makes for the same height as <input>. */
	height: 40px;
	margin: 0;
}

table {
	border-spacing: 0;
}

textarea {
	background: #fff;
	font-family: Verdana, Sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 9px;
	width: 280px;
}

ul {
	list-style-type: square;
}

