/*
 *
 * ...
 * 
 */

tr.header td {
	background: #333;
	color: #fff;
	padding: 20px;
}

tr.header a, tr.header button {
	color: #fff;
	text-decoration: underline;
}

tr.header button {
	border: 0;
	background: none;
	font-size: 100%;
	cursor: pointer;
}

tr.body td {
	background: #fff;
	padding: 20px;
	width: 35%;
}

tr.footer td {
	background: #fff;
	border-top: 1px solid #999;
	padding: 10px 20px;
}

/* ~ */

tr.fail td {
	background: #f55;
}

tr.pass td {
	background: #5d5;
}

/* ~ */

code {
	font-family: Source Code Pro, Monaco, monospace;
}

pre {
	margin: 0;
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera */
	white-space: -o-pre-wrap; /* Opera */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */
}

span.tag {
	color: #b19;
}

